h1{
    color: #1b74e3;
}
.userbtn{
    color: black;
    background-color: aqua;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
#searchbtn{
    background-color: orange;
    color: white;
}
.userbtn:hover{
    background-color: orange;
    color: white ;
}
#searchbtn:hover{
    background-color: aqua;
    color: black;
}
#search:hover{
    color: #1b74e3;
    background-color: black;

}
body{
    background-color: #3F9AAE;

}
