body {
    background-color: #41384b;
    font-family: "Google Sans Flex", sans-serif;
    color: white;
}

.nav {
    height: 50px;
    width: 100%;
}

/* .Main-div{
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
} */
.option {
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
    margin-top: 2rem;
}

.small {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Gm {
    margin: 0.8rem;
    font-size: small;
    appearance: none;
    color: white;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.img {
    margin: 0.8rem;
    font-size: small;
    appearance: none;
    color: white;

}


.Flask{
    height: 30px;
    width: 30px;
    margin: 0rem 1rem 20px 1rem;
    color: white;
   
}

.flask-op{
   height: 50px;
   
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.flask-op:hover{
    height: auto;
    width:auto;
    background-color: #4e4658;
    border-radius: 50px;
    margin-bottom: 20px;    
}



.Flask1{
     height: 1.5rem;
    width: 1.5rem;
    /* margin: 0.5rem 0.8rem 20px 0.8rem; */
    margin: 0.3rem;
    color: white;
}

.pic{
    height: 20px;
    width: 20px;
}

