body {
    background-color: #ddd;
    font-family: "Google Sans Flex", sans-serif;
    color: black;
}

.nav {
    height: 50px;
    width: 100%;
}

/* .Main-div{
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
} */
.option {
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
}

.small {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Gm {
    margin-left: 2rem;
    font-size: small;
}

.img {
    margin-left: 2rem;
    font-size: small;

}


.Flask{
    height: 30px;
    width: 30px;
    margin: 0rem 1rem 20px 2rem;
    color: white;
   
}

.Flask1{
     height: 30px;
    width: 30px;
    margin: 0rem 0.8rem 20px 1rem;
    color: white;
}

.pic{
    height: 20px;
    width: 20px;
}