body {
    background-color: #41384b;
    font-family: "Google Sans Flex", sans-serif;
    color: white;
}

.nav {
    height: 50px;
    width: 100%;
}

/* .Main-div{
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
} */
.option {
    display: flex;
    justify-content: right;
    align-items: left;
    align-content: left;
    margin-top: 1rem;
}

.small {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Gm {
    margin: 0.8rem;
    font-size: small;
    appearance: none;
    color: white;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.img {
    margin: 0.8rem;
    font-size: small;
    appearance: none;
    color: white;

}


.Flask{
    height: 30px;
    width: 30px;
    margin: 0rem 1rem 20px 1rem;
    color: white;
   
}

.flask-op{
   height: 50px;
   
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.flask-op:hover{
    height: auto;
    width:auto;
    background-color: #4e4658;
    border-radius: 50px;
    margin-bottom: 20px;    
}



.Flask1{
     height: 1.5rem;
    width: 1.5rem;
    /* margin: 0.5rem 0.8rem 20px 0.8rem; */
    margin: 0.3rem;
    color: white;
}

.pic{
    height: 20px;
    width: 20px;
}
#logo{
    height: 92px;
    width: 272;
    flex: 2; /* takes remaining space */
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; 
    margin-top: 4rem;

}

.line{
    width: 100%;
    height: 50%;
    border-top: 1px solid #4a454e;
    opacity: 0.4;
    margin-top: 30px;
}

#input {
    height: 48px;
    width: 746px;
     /* takes remaining space */
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; 
    align-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 1rem;

}

/* Search input */
.Input-S {
    width: 580px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}