body{
font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}



.Main{
      display: flex;
    height: 100vh;
    padding: 1rem;
    background-color: #212121;
}

.sidebar{
    display: flex;
    justify-content: center;
    background-color: #181818;
    width: 260px;
    height: 100%;
    margin-left: -0.8rem;
    margin-top: -1rem;
    /* border-radius: 1rem; */
    /*16px */
}
.main-content {
    background-color: #212121;
    /* border-radius: 1rem; */
    /*16px */
    overflow: auto;
    flex: 1;
    padding: 0.5rem 1.5rem 0 1.5rem;
    height: 100%;
    margin-right: -0.8rem;
    margin-top: -0.8;

}

.side-nav{
    height: 52px;
    width: 228px;
    display: flex;
    align-items: center;

}

 #span1{
    position: relative;
    left: 160px;
    height: 25px;
    width: 25px;
}

#span1:hover{
    opacity: 1;
}

.GptIcon{
    height: 30px;
    width: 30px;
    /* margin-top: 0.5rem; */
}

.footer{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.3rem;
}

.line{
    width: 100%;
    height: 5px;
    border-top: 1px solid white;
    opacity: 0.2;
}

.gptname{
    display: flex;
    font-size: 18px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin-top: -1.5rem;
    

}

.chatgpt{
    margin-top: -1rem;
}