body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
    background-color: black;
    color: yellow;
    overflow: hidden;
}



.Main {
    display: flex;
    height: 100vh;
    padding: 1rem;
    background-color: #212121;
}

.sidebar {
    display: flex;
    justify-content: center;
    background-color: #181818;
    width: 260px;
    height: 100%;
    margin-left: -0.8rem;
    margin-top: -1rem;
    overflow: auto;
    /* border-radius: 1rem; */
    /*16px */
}

.main-content {
    background-color: #212121;
    /* border-radius: 1rem; */
    /*16px */
    overflow: auto;
    flex: 1;
    padding: 0.5rem 1.5rem 0 1.5rem;
    height: 100%;
    margin-right: -0.8rem;
    margin-top: -0.8;
    overflow: auto;

}

.side-nav {
    height: 52px;
    width: 228px;
    display: flex;
    align-items: center;

}

#span1 {
    position: relative;
    left: 160px;
    height: 25px;
    width: 25px;
}

#span1:hover {
    opacity: 1;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 25px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.GptIcon {
    height: 30px;
    width: 30px;
}

.footer {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.3rem;
}

.line {
    width: 100%;
    height: 5px;
    border-top: 1px solid white;
    opacity: 0.2;
}

.gptname {
    display: flex;
    font-size: 18px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin-top: -1.5rem;


}

.chatgpt {
    margin-top: -1rem;
}


.op1 {
    display: inline;
    align-items: center;
    gap: 12px;

    height: 50%;
    width: 200px;

    padding: 0 12px;
    margin-top: 12px;

    cursor: pointer;
    border-radius: 8px;
    position: relative;
    top: 50px;
    right: 110px;
}



.edit {
    width: 18px;
    height: 18px;
    opacity: 0.9;
}

.namegpt {
    font-size: 14px;
    font-weight: 500;
    margin-top: -0.4rem;
}

.namegpt1 {
    font-size: 14px;
    margin: aut;
}

.option2 {
    margin-top: 1rem;
    display: inline-block;

}
.edit1{
     width: 25px;
    height: 25px;
    opacity: 0.9;
}